.hourCell {
  font: var(--body3-regular);
  place-self: start end;
  transform: translateY(-50%);
  padding-inline-end: 1rem;

  position: relative;
  white-space: nowrap;
}

.hourCell::before {
  content: " ";
  inline-size: 0.5rem;
  block-size: 0.8px;
  background-color: currentColor;
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: 50%;
}
