.miniCalendar {
  --cellSize: 1.75rem;
  max-inline-size: 12.25rem;
}

.miniCalendar-date {
  font: var(--body1-medium);
}
.miniCalendar-status {
  /* font: var(--body1-medium); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 0.25rem;
  margin-block-end: 0.5rem;
}

.miniCalendar-header {
  font: var(--body3-regular);
  color: var(--gray30);
  display: grid;
  grid-template-columns: repeat(7, var(--cellSize));
  grid-template-rows: var(--cellSize);
  text-align: center;
  line-height: var(--cellSize);
}

.miniCalendar-month {
  font: var(--body3-regular);

  display: grid;
  grid-template-columns: repeat(7, var(--cellSize));
  grid-template-rows: repeat(6, var(--cellSize));
  text-align: center;
}

.miniCalendar-monthDay {
  line-height: var(--cellSize);
}

.miniCalendar-monthDay.is-selected {
  background-color: var(--blue10);
  color: var(--white);
  border-radius: 50%;
}

.miniCalendar-monthDay.is-inactive {
  color: var(--gray20);
}
